.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 90px;

  .content {
    width: 50%;
  }

  #map {
    position: fixed;
    top: 75px;
    width: 45%;
    right: 0;
    height: calc(100% - 70px);
  }
}

.links_text_pages {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.7;
}

.buttom-button {
  text-align: center;
  padding-top: 24px;

}
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #51C96C;
  transition: 0.3s;
  border: 1px solid #51C96C;
}

.btn-gradient:hover {
  //background: #51aec9;
  color: white;
  opacity: 0.7;
}
