<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= card.title %></h2>
    <p><%= card.description %></p>
    <p>user: <%= card.user_id %> (remove for prod)</p>
  </div>
</div>
