<h2>Latest items added</h2>
<div class="cards">
  <% @items.each do |item| %>
    <%= render "shared/grid-cards", item: item %>
  <% end %>
</div>
<div class="buttom-button">
  <%= link_to "See all items", items_path, class: "btn btn-gradient" %>
</div>
