
a {
  color: $dark-gray;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.item-container-booking {
  padding: 4%;
}

.row {
  display: flex;
  padding: 24px 0;
  text-align: left;
}

.modal-header {
  text-align: center;
}

.item-container-booking {
  text-align: center;
  margin-left: 190px;
}

.photo-calendar {
  display: flex;
}

// .middle-container {
//   // display: flex;
//   // justify-content: space-between;
//   // padding: 27px 0;
//   // position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
// }

.description-container {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.text-inline {
  display: inline-block;
}

input.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($green, $green);
  transition: background 0.3s ease;
  border: 1px solid $green;
  margin-bottom: 24px;
}

.btn-primary:hover {
  background: green;
  color: white;
}

// .btn-gradient {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   font-weight: bold;
//   background: linear-gradient(#167FFB, #0F60C4);
//   transition: background 0.3s ease;
//   border: 1px solid #0F60C4;
//   margin-bottom: 24px;
// }

// .btn-gradient:hover {
//   background: linear-gradient(#147EFF, #0F67DA);
//   color: black;
// }

.container-review {
  text-align: left;
}

.review-container {
  display: flex;
  background-color: #E8E8E8;
  margin-bottom: 24px;
}

.review-rating {
  font-size: 50px;
  font-weight: bold;
  padding: 24px;
  color: #8361C3;
}

.review-content {
  margin: auto 0;
  padding: 24px;
}
