.navbar-lewagon {
  justify-content: space-between;
  background: $green;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
}
#colorwh {
  font-size: 1.1em;
  color: white;
  }
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo-street {
  border-radius: 50%;
}
