  var newReview = '<div class="review-container"> <div class="review-title"> <%= @review.title %></div> <div class="review-rating"> <%= @review.rating %></div> <div class="review-body"> "<%= @review.body %>"</div></div>'
  var reviews = document.querySelector('#item-review-list')
  reviews.insertAdjacentHTML('beforeend', newReview)

  var inputBox = document.getElementById('review_title')
  inputBox.value = '';

  var inputBox = document.getElementById('review_rating')
  inputBox.value = '';

  var inputBox = document.getElementById('review_body')
  inputBox.value = '';
